<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Untitled</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="login.css") }}">


</head>
<body>

<link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="header.css") }}">

<div id="header">
    <img id="logo" src="{{ url_for("static", filename="logo-dark.png") }}">
    <ul id="links">
        <li class="nav-item"><a class="page_link" href="/">Home</a></li>
        <li class="nav-item"><a class="page_link" href="/#about">About Us</a></li>
        <li class="nav-item"><a class="page_link" href="/volunteer">Volunteer</a></li>
        <li class="nav-item"><a class="page_link" href="/login">Login</a></li>
        <li class="nav-item"><a class="page_link" href="/#contact">Contact</a></li>
    </ul>
</div>


<div id="white">
    <h1>Login/Sign Up</h1>

    <form id="login">
        <label>
            <h4>Email</h4>
            <input class="input" id="username" type="email" name="email" required placeholder="test@gmail.com">
        </label>
        <br>
        <label>
            <h4>Password</h4>
            <input class="input" id="password" type="password" name="password" required placeholder="123456">
        </label>
        <br>

        <button id="go" onclick="processLogin()">GO</button>


    </form>

    <div style="width: 100%; display: table;">
        <div style="display: table-row">
            <div class="login col s12 m6 offset-m3 center-align" onclick="provider(googleAuthProvider)">
                <a class="oauth-container btn darken-4 white black-text" style="text-transform:none">
                    <div class="left">
                        <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in"
                             src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                    </div>
                    Login with Google
                </a>
            </div>

            <div class="login col s12 m6 offset-m3 center-align" onclick="provider(githubAuthProvider)">
                <a class="oauth-container btn darken-4 white black-text" style="text-transform:none">
                    <div class="left">
                        <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in"
                             src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"/>
                    </div>
                    Login with Github
                </a>
            </div>
        </div>
    </div>


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</div>


<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-auth.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-analytics.js"></script>

<script>
    console.log("init")
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyCHMiVHPi8SVrKk0rRPE8kcfJYFzlNHjN0",
        authDomain: "meet-y2---final-cs-project.firebaseapp.com",
        databaseURL: "https://meet-y2---final-cs-project.firebaseio.com",
        projectId: "meet-y2---final-cs-project",
        storageBucket: "meet-y2---final-cs-project.appspot.com",
        messagingSenderId: "656420899968",
        appId: "1:656420899968:web:03d0d47348d7f2b5202a65",
        measurementId: "G-FKYGVVQQXT"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    {#firebase.analytics();#}

    console.log(firebase)


    // As httpOnly cookies are to be used, do not persist any state client side.
    firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    let action;
    let ue, pe;
    window.post = function (url, data) {
        return fetch(url, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });
    }


    const login = function () {
        return firebase.auth().signInWithEmailAndPassword(ue.value, pe.value).then(user => {
            // Get the user's ID token as it is needed to exchange for a session cookie.
            console.log("user: ", user)
            return user.user.getIdToken().then(idToken => tokenLogin(idToken));
        });
    }
    function processLogin() {
        console.log("11111111111")
        // When the user signs in with email and password.

        login()
            .catch(err => {
                if (err.code === 'auth/user-not-found') {
                    firebase.auth().createUserWithEmailAndPassword(
                        ue.value, pe.value
                    ).then(login)
                    // User doesn't exist yet, create it...
                }
            });
        // You must return false to prevent the default form behavior
    }


    function tokenLogin(idToken) {
        console.log("id token: ", idToken)
        return post("/sessionLogin", {
            "idToken": idToken,
        })
            .then(() => {
                return firebase.auth().signOut();
            }).then(() => {
                window.location.assign('/logged_in');
            }).catch((e) => {
                console.log(e)
            });
    }

    window.onload = function () {
        ue = document.getElementById("username")
        pe = document.getElementById("password")
        document.getElementById("login").addEventListener("submit", (e) => {
            e.preventDefault();
            return false
        })
    }


    {#google auth:#}
    let googleAuthProvider = new firebase.auth.GoogleAuthProvider();
    let githubAuthProvider = new firebase.auth.GithubAuthProvider();
    githubAuthProvider.addScope("user:email")

    firebase.auth().languageCode = 'en';

    console.log(googleAuthProvider)

    function provider(provider) {
        firebase.auth().signInWithPopup(provider).then(function (user) {
            user.user.getIdToken().then(idToken => tokenLogin(idToken));
        }).catch(function (error) {
            console.log(error)
            // TODO: Handle Errors here
        });
    }


</script>

</body>
</html>