<!DOCTYPE html>
<html>
<head>

    <title>{{data['title']}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<!-- Remove this (only test): -->

<body>

<div class="container p-3 my-3 border">
    <h1>{{data['title']}}</h1>
</div>

<div class="container p-3 my-3 bg-dark text-white">
    <h2>{{data['desc']}}</h2>
</div>

<div class="container p-3 my-3 bg-primary text-white">
    <img src="{{data['img']}}" style="max-width: 100%">
</div>

<div class="container p-3 my-3 bg-primary text-white">
    <p>{{data['text']}}</p>
</div>


<!-- Helpfull res: -->
<!-- dictionary: https://www.w3schools.com/python/python_dictionaries.asp -->
<!-- lists: https://www.w3schools.com/python/python_lists.asp -->
<!-- flask loop: https://www.geeksforgeeks.org/python-using-for-loop-in-flask/ -->


<!-- Then write code here: -->
</body>
</html>

