<!DOCTYPE html>
<html lang="en">
<head>

    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="volunteer.css") }}">


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="header.css") }}">

<div id="header">
    <img id="logo" src="{{ url_for("static", filename="logo-dark.png") }}">
    <ul id="links">
        <li class="nav-item"><a class="page_link" href="/">Home</a></li>
        <li class="nav-item"><a class="page_link" href="/#about">About Us</a></li>
        <li class="nav-item"><a class="page_link" href="/volunteer">Volunteer</a></li>
        <li class="nav-item"><a class="page_link" href="/login">Login</a></li>
        <li class="nav-item"><a class="page_link" href="/#contact">Contact</a></li>
    </ul>
</div>


<br>
<br>

<div id="wrapper">
    {% for o in data %}
        <a href="opportunity/{{ o["id"] }}">
            <div class="opt">
                <h3>{{ o["title"] }}</h3>
                <h4>{{ o["desc"] }}</h4>
                <img src="{{ o["img"] }}">

            </div>
        </a>

    {% endfor %}
</div>

</body>
</html>